.pwn2own { background-color: tomato !important; }
.cryptography { background-color: #E77A2F !important; }
.forensics { background-color: #5C9CD5 !important; }
.web { background-color: yellowgreen !important; color: black !important; }
.infrastructure { background-color: #FCFB08 !important; color: black !important; }
.misc { background-color: orchid !important; }
.jeopardy { background-color: #C4D600 !important; color: black !important; }
.upload { background-color: #84BA73 !important; color: black !important; }
.multiple { background-color: mediumslateblue !important; } 
.defence { background-color: aquamarine !important; color: black !important; }
.upload { background-color: deeppink; }
.timed { background-color: teal; }
.timedupload { background: rgb(54,126,127); background: linear-gradient(90deg, rgba(54,126,127,1) 0%, rgba(235,59,145,1) 100%);	}